* {
box-sizing: border-box;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
:root {
    --color1: #018178;
    --color2: #f1cfb9;
    --color3: #0bd182;


}
body {
    background-color: #018178;
    line-height: 1.3;
    }

header {
    background-color: var(--color2);
    border-color:var(--color1);
    display: flex;
    flex-wrap: wrap;
    height:max-content;
    margin:10px;
}

header h1 {
    flex-direction: column;
    flex: 1 1 40%;
    justify-content: flex-start;
    font-size: xx-large;
    font-weight:bolder;
    color: var(--color1);
    background-color:var(--color3);
    padding: 1rem 2rem;
    margin-right: 1rem;
    margin-left: none;
    margin-top: 1rem;
    margin-bottom: 1rem;
    white-space: nowrap;
}
    
nav {
    margin:auto;
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
}
nav div a {
    font-size: large;
    text-decoration: wavy;
    color: var(--color3);
    background-color: var(--color1);
    padding: 1rem 2rem;
    white-space:nowrap;
    gap: 1rem;
    justify-content: flex-end;
}

.background-img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
}

.background-img img {
    flex:0 1 100%;
    width: 400px;
    height: auto;
    border: 5px solid var(--color3);
    z-index: 1;

}
.background-img h2 {
    z-index: 2;
    position: absolute;
    bottom: 40px;
    right:0;
    background-color: var(--color1);
    color: var(--color3);
    font-size: large;
    padding: 1rem 1rem;
    border: 5px solid var(--color3);
}

.about {
    display: flex;
    flex-direction: row;
}
.about h1 {
    flex-basis: 25%;
    padding: 2rem 2rem;
    font-size: xx-large;
    font-weight:1000;
    border-right: 5px solid var(--color3);
    color: var(--color3);
}

.about p { 
    flex-basis: 75%;
    padding:2rem 2rem;
    font-size:large;
    font-weight:400;
    color: var(--color3);
}

.work {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.work h1 {
    flex-basis: 25%;
    padding: 2rem 2rem;
    font-size: xx-large;
    font-weight:1000;
    border-right: 5px solid var(--color3);
    color: var(--color3);
}
.firstApp{
    display:flex;
}
.work .firstApp img {
    flex:0 1 75%;
    width: 300px;
    height: auto;
    justify-self:flex-end;
    margin-right: 50px;
    border: 5px solid var(--color3);


}
.firstTwoApps  {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    
}
.firstSmallApp {
    flex-basis:33%;


}

.SecondTwoApps {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;

}
.SecondSmallApp {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;

}
    
.contact {
    display: flex;
    flex-direction: row;
}
.contact h1 {
    flex-basis: 25%;
    padding: 2rem 2rem;
    font-size: xx-large;
    font-weight:1000;
    border-right: 5px solid var(--color3);
    color: var(--color3);
}






@media screen and (max-width:768px) {
    nav{
        flex-direction: column;
        flex-basis: 100%;
        align-items: center;
        gap: 1rem;
        padding-top: none;
    }
    header h1 {
        flex:1 1 auto;
    }
}




