* {
box-sizing: border-box;
}
body {
    display:flex;
    background-color: #EBE7DE;
    flex-direction: row;
    line-height: 1.3;
    }

header {
    display: flex;
    flex:1 0 100%; 
    height:100px;
    width:100%;
    margin:10px;
}

header h1 {
    display: flex;
    flex: 1 1 100%;
}
    

nav ul {
    
    display: flex;
    font-size: large;
    gap:1rem;
    
    }

nav li a {
    display:flex;
    flex: 1 1 50%;
    flex-direction: row;
    padding:1rem 2rem;
    margin: 1rem;
    background-color:#018178;
    text-decoration: none;
}


@media screen and (max-width:768px) {
    nav{
        flex-direction: column;
    }
    
}




